:root{
    --primary:#00ff1e00;
}
body{
    background-color: var(--primary);
    font-family:"Newsreader", serif;
}
html {
   scroll-behavior: smooth;
}
#navbar{
    position: relative;
    animation: NAV 1s ease-in-out forwards;
}
@keyframes NAV{
    0%{
        top: -100px;
    }
    100%{
        top: 0px;
    }
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span{
    color: darkblue;
}
li{
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-right: 20px;
    position: relative;
    left: 70px;
}
a{
    text-decoration: none;
    color: blue;
    transition:all 0.5s ease;
}
a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 7px;
}
#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    height: 85vh;
}
#Home img{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 9px solid darkblue;
}
.content{
    text-align: center;
    position: relative;
    font-size: 20px;
    right: 40px;

}
.content h2{
    color: darkblue;
}
.content button{
    width: 140px;
    height: 30px;
    border-radius: 40px;
    color: darkblue;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 2s ease;
}
.btn{
    color: blue;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    text-decoration: none;
    cursor: pointer;
    color:orangered;
}
button:hover{
    transform: translateY(-20px);
    color: red;
}
button a:hover{
    text-decoration: none;
}
#About{
    font-size: 19px;
    height: 95vh;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.me img{
    width: 370px;
    height: 360px;
    border: 3px solid darkblue;
    border-right: 10px solid blue;
    border-top: 10px solid blue;
    border-radius: 30px;
}
.mine p{
    width: 650px;
    text-align: justify;
    font-size: 22px;
    line-height: 30px;
}
.data{
    display: flex;
    gap: 50px;
    position: relative;
    right: 150px;
    transition: all 1s ease-in;
}
.data:hover{
    transform: translateY(-20px);
}
.deg{
    border: 3px solid darkblue;
    border-radius: 10%;
    width: 280px;
    height: 180px;
    position: relative;
    left: 150px;
}
.deg h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    transition: all 2s ease;
}
.deg h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}
.deg img{
    border: 0px;
    height:60px;
    width:60px;
    position: relative;
    left: 110px;
}
#Skill{
    height: 80vh;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.second,.third{
    border: 3px solid blue;
    border-right: 5px solid darkblue;
    border-top: 5px solid darkblue;
    width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 60px;
}
.fr i{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    font-weight: bold;
    font-size: 17px;
    text-align: justify;
}
.fourth{
    text-align: center;
    border: 3px solid blue;
    border-right: 5px solid darkblue;
    border-top: 5px solid darkblue;
    width: 400px;
    border-radius: 60px;
}
#projects{
    text-align: center;
    margin-top: 50px;
    position: relative;
    top: 250px;
    border: none;
}
.project img{
    width: 230px;
    height: 180px;
    border-radius: 30px;
    position: relative;
    top: 10px;
}
.project button{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    transition: all 1s ease;
}
.project button:hover{
    transform: translateY(10px);
    background-color: blue;
    color: white
}
.fpro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    transition:all 1s ease;
}
.fpro img:hover{
    transform: translateX(20px);
}
.spro{
    border: 5px solid blue;
    border-radius: 50px;
    width: 350px;
    height: 350px;
}
.tpro{
   border: 5px solid blue;
   border-radius: 50px;
    width: 350px;
    height: 350px;
}
.fopro{
   border: 5px solid blue;
   border-radius: 50px;
    width: 350px;
    height: 350px;
}
.spro:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.tpro:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.fopro:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
#contact{
    position: relative;
    top: 500px; 
    height: 80vh; 
}
.det{
    display: flex;
    width: 540px;
    height: 120px;
    border: 3px solid blue;
    position: relative;
    left: 488px;
    border-radius: 30px;
    gap: 20px;
   justify-content: center;
}
.det h2{
    font-weight: light;
    position: relative;
    top: 25px;
}
.det i{
    position: relative;
    top: 46px;
    font-size: 20px;
    left: 15px;
}
.det a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
    
}
.det a:hover{
    color: blue;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.last{
margin-top: 450px;
margin-left: 450px;
}


@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    li {
        display: inline;
        left: 20px;
    }

    #Home {
        flex-direction: column;
        gap: 50px;
        height: auto;
        margin-top: 40px;
    }

    #Home img {
        width: 300px;
        height: 300px;
    }

    .content {
        right: 0;
    }

    #About {
        position: relative;
        top: 20px;
        height: auto;
        margin-bottom: 100px;
    }
    .data{
        margin-left: 200px;
        gap: 20px;
    }
    #Skill {
        margin-top: 120px;
        position: relative;
        z-index: 1;
    }

    .me {
        flex-direction: column;
        gap: 40px;
    }

    .mine p {
        position: relative;
        left: 10px;
    }

    #projects {
        position: relative;
        top: 600px;
    }

    .deg {
        left: 0;
        margin: 0 auto;
    }

    .first {
        flex-direction: column;
        gap: 40px;
    }

    .fpro {
        flex-direction: column;
        gap: 40px;
    }
    #contact{
        margin-top: 300px;
    }

    .det {
        left: 0;
        margin: 0 auto;
        width: 80%;
    }

    .last {
        margin-left: -70px;
        text-align: center;
    }
}


@media (max-width: 800px) {
    nav h1 {
        font-size: 22px;
    }

    li {
        font-size: 18px;
    }

    #Home img {
        width: 230px;
        height: 230px;
        border-width: 5px;
    }

    .content h1 {
        font-size: 22px;
    }

    .content h2 {
        font-size: 17px;
    }

    .content button {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }

#About {
    font-size: 17px;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.me {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.me img {
    width: 250px;
    height: 250px;
    border-width: 4px;
}

.mine p {
    width: 85%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
    position: relative;
    top: 5px;
}

.data {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: static;
    margin-top: 40px;
    margin-left: 0;
}

.deg {
    width: 250px;
    height: 170px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.deg img {
    position: relative;
    left: 0;
    gap: 20px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.deg h2,
.deg h3 {
    font-size: 17px;
    margin-top: 5px;
}

    .first {
        gap: 30px;
    }

    .second, 
    .third, 
    .fourth {
        width: 90%;
        height: auto;
        border-radius: 30px;
    }

    #Skill {
        margin-top: 100px;
    }

    .fpro {
        flex-direction: column;
        align-items: center;
    }

    .spro, 
    .tpro, 
    .fopro {
        width: 290px;
        height: 290px;
    }

    .project img {
        width: 200px;
        height: 150px;
    }

    .project button {
        width: 100px;
        height: 35px;
        font-size: 15px;
    }

    .det {
        flex-direction: column;
        width: 70%;
        height: 30%;
        text-align: center;
        padding: 15px 0;
    }

    .det i {
        top: 0;
        left: 0;
        margin-bottom: 10px;
    }

    .det h2 {
        top: 0;
        font-size: 16px;
    }

    #contact {
        position: relative;
        top: 700px;
        right: 0;
    }

    .last {
        margin-left: 0;
        text-align: center;
    }
}



@media (max-width: 600px) {
    nav h1 {
        font-size: 22px;
    }

    li {
        font-size: 18px;
    }

    #Home img {
        width: 230px;
        height: 230px;
        border-width: 5px;
    }

    .content h1 {
        font-size: 22px;
    }

    .content h2 {
        font-size: 17px;
    }

    .content button {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }

#About {
    font-size: 17px;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.me {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    text-align: center;
}

.me img {
    width: 250px;
    height: 250px;
    border-width: 4px;
}

.mine p {
    width: 85%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
}

.data {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: static;
    margin-top: 40px;
    margin-left: 0;
}

.deg {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.deg img {
    position: relative;
    left: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.deg h2,
.deg h3 {
    font-size: 17px;
    margin-top: 5px;
}

    .first {
        gap: 30px;
    }

    .second, 
    .third, 
    .fourth {
        width: 90%;
        height: auto;
        border-radius: 30px;
    }

    #Skill {
        margin-top: 100px;
    }

    .fpro {
        flex-direction: column;
        align-items: center;
    }

    .spro, 
    .tpro, 
    .fopro {
        width: 280px;
        height: 290px;
    }

    .project img {
        width: 200px;
        height: 150px;
    }

    .project button {
        width: 100px;
        height: 35px;
        font-size: 15px;
    }

    .det {
        flex-direction: row;
        width: 390px;
        height: auto;
        text-align: center;
        padding: 15px 0;
    }

    .det i {
       position: relative;
       top: 10px;
       left: 10px;
        
    }

    .det h2 {
        top: 0;
        font-size: 16px;
    }

    #contact {
        position: relative;
        top: 700px;
        right: 0;
    }

    .last {
        position: relative;
        bottom: 100px;
        right: 10px;
        margin-left: 0;
        text-align: center;
    }
}

